* {
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5ebe0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edede9;
  padding: 5px;
  color: #433e3f;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 0px;
}

.logo-text {
  font-size: 24px;
}

.custom-btn:hover {
  background-color: #8e94f2;
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 0 10px;
  font-size: 14px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  background-color: #69626d;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #8e94f2;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  background-color: #f5ebe0;
  margin-bottom: 0px;
  padding: 40px;
}

section h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #433e3f;
}

section p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
  color: #433e3f;
  padding: 20px;
}

.image-carousel .item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.owl-prev,
.owl-next {
  font-size: 24px;
  color: #433e3f;
  background-color: #edede9;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #d6ccc2;
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.owl-prev:disabled,
.owl-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .owl-nav {
    display: none;
  }
}

.square-image {
  position: relative;
  width: 100%;
  padding-top: 100%; 
}

.square-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.about-section .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-section .column {
  flex: 1;
}

.about-section .column h2,
.about-section .column p {
  text-align: left;
}

.about-section .column:last-child {
  text-align: right;
}

.breed-section .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breed-section .column {
  flex: 1;
}

.breed-section .column h2,
.breed-section .column p {
  text-align: right;
}

.breed-section .column:first-child {
  text-align: left;
}

.care-section .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.care-section .column {
  flex: 1;
}

.care-section .column h2,
.care-section .column p {
  text-align: left;
}

.care-section .column:last-child {
  text-align: right;
}

.footer-section {
  background-color: #edede9;
  padding: 20px 0;
  text-align: center;
}

.footer-section p {
  font-size: 14px;
  color: #433e3f;
  margin-bottom: 10px;
}

.footer-section p:last-child {
  margin-bottom: 0;
}

.footer-section a {
  color: #493f41;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

header {
  transition: background-color 0.3s ease;
}

.header-scroll {
  background-color: #433e3f;
  color: #fff;
}

/* Animação do footer */
.footer-section {
  transition: background-color 0.3s ease;
}

.footer-scroll {
  background-color: #edede9;
  color: #fff;
}

.custom-nav {
  text-align: center;
  margin-top: 20px;
}

.custom-nav button {
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

.custom-prev {
  margin-right: 10px;
}

.custom-next {
  margin-left: 10px;
}
